* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

main {
  width: 80%;
  margin: 30px auto;
}

header {
  background-color: #9c168a;
  color: white;
  padding: 20px;
}

header h1 {
  margin-bottom: 15px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

nav li {
  cursor: pointer;
}

.wrapper {
  background: white;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
}

footer {  
  margin-top: 20px;
  background: #1f2937;
  color: white;
  text-align: center;
  padding: 15px;
}

input,
select {
  width: 300px;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  background: rgb(214, 18, 172);
  color: #4e046b;
  border: none;
  cursor: pointer;
}

button:hover {
  background: rgb(173, 19, 179);
}

.products {
  margin-top: 30px;
}

.products ul {
  list-style: none;
}

.products li {
  background: #f9f9f9;
  margin: 10px 0;
  padding: 12px;
  border-radius: 6px;
}